<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sales_and_Inventory_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="Sales_and_Inventory_System.My.MySettings.SI_DBConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\SI_DB.accdb"
      providerName="System.Data.OleDb" />
    <add name="Sales_and_Inventory_System.My.MySettings.SI_DBConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bin\Debug\SI_DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.OleDB" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Sales_and_Inventory_System.My.MySettings>
      <setting name="Bpath" serializeAs="String">
        <value />
      </setting>
    </Sales_and_Inventory_System.My.MySettings>
  </userSettings>
</configuration>